.catalog-card {
    position: relative;

    max-width: 330px;
    min-height: 392px;
}

.catalog-card__title {
    @include heading-reset;

    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.9);
}

.catalog-card__caption {
    position: absolute;
    bottom: 15px;
    left: 20px;
    z-index: 10;
}

.catalog-card__number {
    position: absolute;
    top: 23px;
    left: 20px;
    z-index: 10;

    font-size: 20px;
    line-height: 22px;

    transition-duration: 0.5s;

    &::before {
        content: "";

        position: absolute;
        top: 11px;
        right: -80px;

        display: block;
        width: 70px;
        height: 1px;

        background-color: $white;
    }
}

.catalog-card__overlay {
    background-color: transparent;

    transition-duration: 0.7s;
}

.catalog-card__picture {
    display: block;
    width: 100%;
}

.catalog-card__link {
    display: none;
}

.catalog-card:hover .catalog-card__number {
    left: 100px;

    &::before {
        left: -80px;
    }
}

.catalog-card:hover .catalog-card__overlay {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.6);
}

.catalog-card:hover .catalog-card__title {
    margin-bottom: 20px;
}

.catalog-card:hover .catalog-card__link{
    display: inline-block;
}


@media (min-width: $tablet-width) {
    .catalog-card__number {
        top: 42px;

        &::before {
            right: -82px;
        }
    }

    .catalog-card:hover .catalog-card__number {
        &::before {
            left: -82px;
        }
    }

    .catalog-card:hover {
        position: relative;

        &::after {
            content: "";

            position: absolute;
            top: -10px;
            left: -10px;

            display: block;
            width: calc(100% + 20px);
            height: calc(100% + 20px);

            border: $transparent-white solid 1px;
        }
    }
}



