.catalog-card__title {
    @include heading-reset;

    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.9);
}

.catalog-card__number {
    font-size: 20px;
    line-height: 22px;
}


