.catalog-item {
    padding: 0 6.3%;
}

.catalog-item__title {
    @include heading-reset;
    width: 65%;
    margin-bottom: 32px;

    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.09em;
}

.catalog-item__desc {
    margin: 0;
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 22px;
    text-transform: none;
}

@media (min-width: $tablet-width) {
    .catalog-item {
        padding: 0 6.5%;
    }

    .catalog-item__title {
        width: 520px;

        font-size: 40px;
        line-height: 44px;
    }

    .catalog-item__desc {
        font-size: 20px;
        line-height: 24px;
    }
}

@media (min-width: $desktop-width-small) {
    .catalog-item {
        padding-top: 253px;
        padding-left: 12.34%;
        padding-right: 27.49%;
    }
    .catalog-item__title {
        font-size: 50px;
        line-height: 55px;
    }

    .catalog-item__desc {
        font-size: 18px;
        line-height: 27px;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
