.main-nav {
    padding: 0 5.2%;
    min-width: 320px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    background-color: $burgundy;
}

.main-nav__list {
    @include list-reset;
    margin-top: 64px;
    height: calc(100vh - 64px);
    min-height: 500px;

    text-align: center;
}

.main-nav__item {
    margin-bottom: 46px;

    text-align: center;
}

.main-nav__link {
    display: block;
    width: 180px;
    margin: 0 auto;

    font-size: 15px;
    line-height: 17px;
    color: $lightwhite;
    letter-spacing: 0.09em;

    &:hover,
    &:focus,
    &:active {
        font-size: 25px;
        line-height: 28px;
        color: $white;
    }

    &--current {
        color: rgba(255, 255, 255, 0.3);

        &:hover,
        &:focus,
        &:active {
            font-size: 15px;
            line-height: 17px;
            color: rgba(255, 255, 255, 0.3);
        }
    }
}

.main-nav__toggle-wrapper {
    min-height: 64px;
    margin: 0;
    padding-top: 24px;
    box-sizing: border-box;

    text-align: right;
}

.main-nav__toggle {
    position: relative;

    width: 37px;
    height: 10px;
    margin-right: 15px;

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &::before,
    &::after {
        content: "";

        position: absolute;
        left: 0;

        display: block;
        width: 37px;
        height: 1px;

        background-color: $white;
    }

    &::before {
        top: 0;

        transition: transform 0.2s ease-in, width 0.2s linear 0.2s, top 0.2s linear 0.2s;
    }

    &::after {
        bottom: 0;

        transition: transform 0.2s ease-in, width 0.2s linear 0.2s, top 0.2s linear 0.2s;
    }
}

.main-nav__toggle-text {
    display: none;
}

.main-nav--opened .main-nav__list {
    display: block;
}

.main-nav--opened .main-nav__toggle {
    width: 21px;
    height: 21px;

    opacity: 0.5;

    &:hover,
    &:focus,
    &:active {
        opacity: 0.7;
    }

    &::before {
        top: 10px;

        width: 30px;

        transform: rotate(45deg);

        transition: width 0.2s linear, top 0.2s linear, transform 0.2s ease-in 0.2s;
    }

    &::after {
        bottom: 10px;

        width: 30px;

        transform: rotate(-45deg);

        transition: width 0.2s linear, top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
}

.main-nav--closed .main-nav__list {
    display: none;
}


@media (min-width: $tablet-width) {
    .main-nav__list {
        min-height: 550px;
        margin-top: 220px;
    }

    .main-nav__link {
        width: 310px;

        font-size: 30px;
        line-height: 33px;

        &:hover,
        &:focus,
        &:active {
            font-size: 45px;
            line-height: 50px;
        }

        &--current {
            &:hover,
            &:focus,
            &:active {
                font-size: 30px;
                line-height: 33px;
            }
        }

    }

    .main-nav--closed {
        background-color: transparent;
    }

    .main-nav__toggle-wrapper {
        height: 85px;
        padding-top: 38px;
    }

    .main-nav__toggle {
        margin-right: 10px;
    }

    .main-nav__item {
        margin-bottom: 55px;
    }
}


@media (min-width: $desktop-width) {
    .main-nav__list {
        min-height: 950px;
    }

    .main-nav__link {
        width: 350px;

        font-size: 35px;
        line-height: 39px;

        &--current {
            &:hover,
            &:focus,
            &:active {
                font-size: 35px;
                line-height: 39px;
            }
        }
    }

    .main-nav__item {
        margin-bottom: 70px;
    }

    .main-nav__toggle {
        vertical-align: middle;
        margin-bottom: 6px;
    }

    .main-nav__toggle-wrapper {
        height: 128px;
        padding-top: 106px;
    }

    .main-nav__toggle-text {
        display: inline;
        margin-left: 5px;

        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0.06em;
    }

    .main-nav--opened .main-nav__toggle-text {
        display: none;
    }

    .main-nav--opened .main-nav__toggle {
        width: 28px;
        height: 28px;

        &::before {
            top: 14px;

            width: 40px;
        }

        &::after {
            bottom: 14px;

            width: 40px;
        }
    }

}

