.modal {
    position: relative;

    width: 90%;
    max-width: 450px;
    padding: 56px 5.9% 52px;
    box-sizing: border-box;

    text-align: left;

    background-color: $burgundy;
    overflow: auto;
}

.modal__title {
    @include heading-reset;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 46px;

    font-size: 20px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.09em;
}

.modal__form-field {
    margin: 0;
    margin-bottom: 17px;
}

.modal__form-input {
    padding: 13px 21px;
    width: 100%;
    box-sizing: border-box;

    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.01em;
    color: $white;

    background-color: transparent;
    border: 1px solid rgba(246, 246, 249, 0.2);
    border-radius: 0;
    outline: none;

    &:hover {
        border: 1px solid rgba(246, 246, 249, 0.4);
    }

    &:focus {
        border: 1px solid rgba(246, 246, 249, 0.8);
    }

    &::placeholder {
        color: $white;
    }
}

.modal__form-button {
    margin-top: 10px;
    width: 100%;
}

.modal__button-close {
    position: absolute;
    top: 20px;
    right: 6.6%;
    z-index: 4000;

    width: 22px;
    height: 22px;
    padding: 0;

    background: transparent url("../img/cross.svg") 0 0 no-repeat;
    background-size: contain;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0.3;

    &:hover {
        opacity: 0.5;
    }

    &:focus,
    &:active {
        opacity: 0.8;
    }
}


@media (min-width: $tablet-width) {
    .modal {
        width: 464px;
        max-width: 464px;
        padding: 104px 44px 78px;
    }

    .modal__button-close {
        top: 40px;
        right: 40px;
    }

    .modal__title {
        width: 300px;
        margin-bottom: 70px;

        font-size: 30px;
        line-height: 40px;
    }

    .modal__form-field {
        margin-bottom: 23px;
    }

    .modal__form-input {
        padding: 20px 32px;

        font-size: 20px;
        line-height: 22px;
    }

    .modal__form-button {
        padding-top: 24px;
        padding-bottom: 24px;
        margin-top: 18px;
    }
}

@media (min-width: $desktop-width-small) {
    .modal {
        width: 716px;
        max-width: 716px;
        padding: 62px 66px 66px 401px;

        &::after {
            content: "";

            position: absolute;
            top: 0;
            left: -0;
            z-index: 400;

            display: block;
            width: 335px;
            height: 100%;

            background: url("../img/modal-background@1x.jpg") 0 0 no-repeat;
            background-size: cover;
        }
    }

    .modal__title {
        width: 230px;
        margin-bottom: 47px;

        font-size: 20px;
        line-height: 32px;
    }

    .modal__form-field {
        margin-bottom: 17px;
    }

    .modal__form-input {
        padding: 13px 21px;

        font-size: 14px;
        line-height: 15px;
    }

    .modal__button-close {
        top: 22px;
        right: 24px;
    }

    .modal__form-button {
        padding: 16px 37px;
        margin-top: 10px;
    }
}
