.page-header {
    position: absolute;
    z-index: 1000;

    width: 100%;
}

.page-header__logo {
    position: absolute;
    top: 15px;
    left: calc(5.2% + 15px);

    display: block;
}

.main-nav--opened + .page-header__logo {
    top: 26px;
    left: 0;
    right: 0;

    width: 96px;
    margin: 0 auto;
}

@media (min-width: $tablet-width) {
    .page-header__logo {
        top: 38px;
        left: calc(5.2% + 10px);
    }

    .page-header__logo-picture {
        width: 137px;
        height: 47px;
    }

    .main-nav--opened + .page-header__logo {
        top: 112px;

        width: 137px;
    }
}

@media (min-width: $desktop-width) {
    .page-header__logo {
        top: 87px;
    }

    .main-nav--opened + .page-header__logo {
        top: 112px;

        width: 158px;
        height: 49px;
    }

}
