.page-main__intro {
    margin-bottom: 100px;
}

.page-main__catalog {
    margin-bottom: 84px;
}

.page-main__special-offers {
    margin: 0 auto;
    margin-bottom: 100px;
}

.page-main__modal-overlay {
    display: none;
}

.page-main__modal-overlay--open {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: auto;

    background-color: rgba(6, 6, 6, 0.7);
}

.page-main__modal {
    margin: auto;
}

.page-main--inner {
    padding-top: 64px;
    padding-bottom: 45px;
}

.page-main--inner__item-picture {
    width: 100%;
    height: 443px;
    max-height: 518px;

    margin: 0;
    margin-bottom: 28px;
}

.page-main--inner__item-picture-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-main--inner__catalog-item {
    margin-bottom: 50px;
}

@media (min-width: $tablet-width) {
    .page-main--inner {
        padding-top: 112px;
        padding-bottom: 20px;
    }

    .page-main--inner__catalog-items-wrapper {
        display: flex;
        flex-direction: column;
        width: 87%;
        max-width: 950px;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
    }

    .page-main--inner__catalog-item {
        order: 5;
    }

    .page-main--inner__work-examples {
        margin: 0 auto;
        margin-bottom: 70px;
    }

    .page-main--inner__item-picture {
        height: 518px;
    }
}

@media (min-width: $desktop-width-small) {
    .page-main__intro {
        margin-bottom: 178px;
    }

    .page-main__catalog {
        margin-bottom: 159px;
    }

    .page-main--inner {
        position: relative;

        padding: 0;
        display: flex;
    }

    .page-main--inner__item-picture {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;

        width: 46%;
        margin-bottom: 0;
        max-height: 100%;
        height: 100%;

        &::after {
            content: "";

            position: absolute;
            top: 30px;
            left: 30px;

            display: block;
            width: 100%;
            height: calc(100% - 65px);

            border: 1px solid $transparent-white;
        }
    }

    .page-main--inner__work-examples {
        margin-left: 12.34%;
        margin-bottom: 213px;
    }

    .page-main--inner__catalog-items-wrapper {
        padding: 0;
        margin-right: 0;
        margin-left: 46%;
    }

    .page-main--inner__catalog-item {
        order: 0;
    }

    .page-main--inner + .page-footer {
        display: none;
    }
}

@media (min-width: $desktop-width) {
    .page-main__intro {
        margin-bottom: 189px;
    }

    .page-main__special-offers {
        margin-bottom: 140px;
    }

    .page-main--inner__catalog-item {
        margin-bottom: 100px;
    }

    .page-main--inner__item-picture {
        width: 52%;
    }

    .page-main--inner__catalog-items-wrapper {
        margin-left: 52%;
    }
}
