.page-header {
    position: absolute;
    z-index: 100;

    width: 100%;

    &--open-nav {
        position: fixed;
        top: 0;
        left: 0;

        height: 100%;

        background-color: $burgundy;
        overflow: auto;
    }
}

.page-header__logo {
    position: absolute;
    top: 15px;
    left: calc(5.2% + 15px);

    display: block;
    margin-left: -2px;
}

.page-header--open-nav .page-header__logo {
    top: 26px;
    left: 0;
    right: 0;

    width: 96px;
    margin: 0 auto;
}

@media (min-width: $tablet-width) {
    .page-header__logo {
        top: 38px;
        left: calc(5.2% + 10px);

        margin-left: 0;
    }

    .page-header__logo-picture {
        width: 137px;
        height: 47px;
    }

    .page-header--open-nav .page-header__logo {
        top: 112px;

        width: 137px;
    }
}

@media (min-width: $desktop-width) {
    .page-header__logo {
        top: 87px;

        margin-left: -11px;
    }

    .page-header--open-nav .page-header__logo {
        top: 112px;

        width: 158px;
        height: 49px;
    }

    .page-header--open-nav + .page-main .intro__social-links {
        z-index: 10000;
        opacity: 0.5;
    }
}
