body {
    min-width: 320px;

    font-family: "Forum", "Book Antiqua", serif;
    color: $white;
    text-transform: uppercase;

    background-color: $burgundy;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}
