@font-face {
   font-family: "Forum";
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url("../fonts/Forum.woff2") format("woff2"),
        url("../fonts/Forum.woff") format("woff");
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.no-scroll {
    overflow: hidden;
}
