$burgundy: #3B181E;
$white: #FFFFFF;
$lightwhite: rgba(255, 255, 255, 0.5);
$transparent-white: rgba(255, 255, 255, 0.2);
$black: #010001;

$tablet-width: 768px;
$desktop-width-small: 1280px;
$desktop-width: 1528px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
